.block-container {
  margin: 0 !important;
  padding: 0.2em !important;
}
.block {
  width: 100%;
  padding-top: 100%; 
}
.block[revealed="true"] {
}
.block[bomb="true"] {
  background-color: #ff6666;
}
.block[bomb="false"] {
  background-color: #d0f0c0;
}
.block p {
  font-size: 0.5em;
  margin-top: -50%;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  color: #483C46;
  font-weight: 600;
}
