.block-container {
  margin: 0 !important;
  padding: 0.2em !important;
}
.block {
  width: 100%;
  padding-top: 100%; 
  background-color: #f4f4f4;
}
.block[revealed="true"] {
  background-color: #eeeeee;
}
.block[clear=true] {
  background-color: #eeeeee;
}
.block[bomb="true"] {
  background-color: #ff6666;
}
.block[bomb="false"] {
  background-color: #d0f0c0;
}
.block[flagged=true] {
  background-color: #FCCE4C;
}
.block p {
  font-size: 3rem;
  margin-top: -55%;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  color: #483C46;
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: 0;
}
